.sideBar{
    align-items: center;
    justify-content: space-between;
}

.upperSide{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.lowerSide{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.activeB{
    opacity: 1;
    width: 1.7rem;
}

.de-activeB{
    opacity: 0.3;
    width: 1.3rem;
}